USE [master]
GO
/****** Base de datos para una Farmacia hecho por:******/
/******Karlennys De La Paz Figuereo  20-SIIT-1-019 ******/
/******Seccion: 0541 ******/
CREATE DATABASE [Farmacia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Farmacia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Farmacia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Farmacia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Farmacia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Farmacia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Farmacia]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/4/2022 12:05:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [int] IDENTITY(82,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [decimal](10, 0) NULL,
	[Correo_Electronico] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 24/4/2022 12:05:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id_Empleado] [int] IDENTITY(165,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Telefono] [decimal](10, 0) NULL,
	[Correo_Electronico] [varchar](50) NULL,
	[Cargo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 24/4/2022 12:05:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Id_Pedido] [int] IDENTITY(568947864,1) NOT NULL,
	[Id_Cliente] [int] NULL,
	[Id_Empleado] [int] NULL,
	[Id_Producto] [int] NULL,
	[Cantidad_de_producto] [varchar](10) NULL,
	[Monto_a_Pagar] [decimal](10, 0) NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos_Farmaceuticos]    Script Date: 24/4/2022 12:05:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos_Farmaceuticos](
	[Id_Producto] [int] IDENTITY(42,1) NOT NULL,
	[Id_Proveedor] [int] NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Componente] [varchar](40) NOT NULL,
	[FechVencimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 24/4/2022 12:05:39 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[Id_Proveedor] [int] IDENTITY(22,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Telefono] [decimal](10, 0) NULL,
	[Correo_Electronico] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Direccion], [Telefono], [Correo_Electronico]) VALUES (82, N'Jose Ramos', N'C/ 14 de febrero, #65 A, los alcarizos, St, R.D.', CAST(8096755856 AS Decimal(10, 0)), N'JoseRamos@gmail.com')
INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Direccion], [Telefono], [Correo_Electronico]) VALUES (83, N'Maria Mercedes', N'Av. Jose contraras, #76, las praderas, S.T, R.D.', CAST(8298759472 AS Decimal(10, 0)), N'MariaMercedes@hotmail.com')
INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Direccion], [Telefono], [Correo_Electronico]) VALUES (84, N'Rosa Leon', N'C/ San Juan, #83, san miguel, S.T, R.D.', CAST(8497549274 AS Decimal(10, 0)), N'RosaLeon@gmail.com')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([Id_Empleado], [Nombre], [Telefono], [Correo_Electronico], [Cargo]) VALUES (165, N'Yesica Moreno', CAST(8496576473 AS Decimal(10, 0)), N'YesicaMoreno@gmail.com', N'Vendedora')
INSERT [dbo].[Empleados] ([Id_Empleado], [Nombre], [Telefono], [Correo_Electronico], [Cargo]) VALUES (166, N'Yolanjel Amarante', CAST(8096336382 AS Decimal(10, 0)), N'NULLYolanjelAmarante@gmail.com', N'Vendedora')
INSERT [dbo].[Empleados] ([Id_Empleado], [Nombre], [Telefono], [Correo_Electronico], [Cargo]) VALUES (167, N'Darianny Lemos', CAST(8298534251 AS Decimal(10, 0)), N'DariannyLemos@hotmail.com', N'Admistradora')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([Id_Pedido], [Id_Cliente], [Id_Empleado], [Id_Producto], [Cantidad_de_producto], [Monto_a_Pagar], [Fecha]) VALUES (568947864, 82, 165, 43, N'2', CAST(1300 AS Decimal(10, 0)), CAST(N'2022-01-25' AS Date))
INSERT [dbo].[Pedidos] ([Id_Pedido], [Id_Cliente], [Id_Empleado], [Id_Producto], [Cantidad_de_producto], [Monto_a_Pagar], [Fecha]) VALUES (568947865, 83, 166, 45, N'5', CAST(1500 AS Decimal(10, 0)), CAST(N'2022-01-30' AS Date))
INSERT [dbo].[Pedidos] ([Id_Pedido], [Id_Cliente], [Id_Empleado], [Id_Producto], [Cantidad_de_producto], [Monto_a_Pagar], [Fecha]) VALUES (568947866, 84, 167, 46, N'6', CAST(2200 AS Decimal(10, 0)), CAST(N'2022-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos_Farmaceuticos] ON 

INSERT [dbo].[Productos_Farmaceuticos] ([Id_Producto], [Id_Proveedor], [Nombre], [Componente], [FechVencimiento]) VALUES (42, 33, N'Acetaminofen', N'Hidroxifenil', CAST(N'2024-04-02' AS Date))
INSERT [dbo].[Productos_Farmaceuticos] ([Id_Producto], [Id_Proveedor], [Nombre], [Componente], [FechVencimiento]) VALUES (43, 23, N'Amoxicilina', N'Estearato de magnesio', CAST(N'2023-05-06' AS Date))
INSERT [dbo].[Productos_Farmaceuticos] ([Id_Producto], [Id_Proveedor], [Nombre], [Componente], [FechVencimiento]) VALUES (45, 32, N'Betahistina', N'piridilalquila,minas monohidrato', CAST(N'2024-09-12' AS Date))
SET IDENTITY_INSERT [dbo].[Productos_Farmaceuticos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([Id_Proveedor], [Nombre], [Telefono], [Correo_Electronico]) VALUES (22, N'Pharmatech S,A', CAST(8095210987 AS Decimal(10, 0)), N'PharmatechS,A@hotmail.com')
INSERT [dbo].[Proveedores] ([Id_Proveedor], [Nombre], [Telefono], [Correo_Electronico]) VALUES (23, N'Dronena', CAST(8091554563 AS Decimal(10, 0)), N'Dronena@gmail.com')
INSERT [dbo].[Proveedores] ([Id_Proveedor], [Nombre], [Telefono], [Correo_Electronico]) VALUES (24, N'Laboratorio San Luis', CAST(8293657438 AS Decimal(10, 0)), N'Laboratorio_San_Luis@gmail.com')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([Id_Cliente])
REFERENCES [dbo].[Cliente] ([Id_Cliente])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleados] ([Id_Empleado])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Productos_Farmaceuticos] ([Id_Producto])
GO
ALTER TABLE [dbo].[Productos_Farmaceuticos]  WITH CHECK ADD FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Proveedores] ([Id_Proveedor])
GO
USE [master]
GO
